/*
365367
FFBAA2
F9F4E6
F494AB
*/
#mainNavigation a {
  font-family: 'Cabin', sans-serif;
  font-size:14px;
  text-transform:uppercase;
  letter-spacing:2px;
  text-shadow:1px 1px 2px rgba(0,0,0,0.4)
}
 
.dropdown-menu {
  background:#F494AB
}
a.dropdown-toggle {
  color:#365367 !important
}
a.dropdown-item:hover {
  color:#F494AB !important
}
.nav-item a{
  color:#365367;
}
.nav-item a:hover {
  color:#F494AB
}
.nav-item{
  min-width:12vw;
}
#mainNavigation {

  position:static;
  top:0;
  left:0;
  width:100%;
  z-index:123;
  margin-bottom:1%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
#navbarNavDropdown.collapsing .navbar-nav,
#navbarNavDropdown.show .navbar-nav{
  background:#F9F4E6;
  padding:12px;
}

body{
    background-color: #F9F4E6;
}

.kepek{
  width:100%;
  height: 1000px;
}

.fizetes{
  background-color: #365367;
  
}

form{
  margin: 0% 25% 0% 25%;
  border-radius: 30px;
  padding: 30px;
}
.right{
  float: right;
}
.center{
  text-align: center;
}
form label,h6{
  color: white;
}
#foglalas{
background-color: dimgrey ;
margin: 0% 25% 0% 25%;
  border-radius: 25px;
  padding: 40px;
}
input{
  border-radius: 5px;
  padding: 5px;
}
select{
  border-radius: 5px;
}